# Ignore everything
/*

# But don't ignore docs folder and its contents
!docs/
!docs/**

# Ignore any markdown files with "-draft" anywhere in their filename inside docs/
docs/**/*-draft*.md

# Also unignore the .gitignore file itself
!.gitignore
